<link href="style.css" rel="stylesheet">
<body>
<div id="wrapper">
    <div id="header">
        <div class="logo">
            <a href="/"><img src="media/ahlstrom-logo-black-100mm.jpg"></a>
        </div>
        <div class="menu">
            <a href="/">Home</a><a href="/autorization">Authorization</a><a href="/catalog.html">Catalog</a><a
                href="/aboutUs">About us</a>
        </div>
    </div>
</div>

