img {
    border: 0;
    height: 100px;
    width: 300px;
}

#wrapper {
    width: 920px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}

#header {
    height: 100px;

}

#header .logo {
    padding-left: 10px;
    float: left;
    width: 400px;
    height: 70px;
}

#footer {
    clear: both;
    float: left;
    height: 60px;
    width: 100%;
    text-align: right;
    color: white;
}

#header .menu {
    clear: both;
    float: right;
    width: 50%;
    height: 30px;
}

body {
    background-image: url("media/USA-wallpaper-3.jpg");
}

#main {
    background-color: white;
    border-radius: 10px;
    margin: 10px auto;
    padding: 5px;
    width: 900px;
    font-family: "Sawasdee";
    font-size: 20px;
    padding-left: 20px;
}

.menu a {

    text-decoration: none;
    color: black;
    margin: 0 5px;
}

.menu a:hover {
    background-color: bisque;
    border-radius: 5px;
    font-size: 25px;
}

table img{
    width: auto;
    height: auto;
    padding-left: 100px;

}
table{
    background-color: white;
    font-size: 15px;
    width: 900px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 15px;
}
.name{
    font-size: 20px;
}
.price{
    float:right;

}
.price{
    padding-right: 0;
    margin-left: 0;
}
.price button{
    margin-left: 370px
}
#aboutus{
    background-color: white;
    width: 920px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
.autho{
    width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

}