<div id="aboutus">
    <div>
        <p>We are the young company from Canada. Our director Dima Trohleb<br>
        is a very good and chearfool person. What is more, he has a super power<br>
        Thanks to this power, he can easy find you, if you don't want to buy<br>
        something on our website. That's why you need to check our website<br>
        evry day and buy something, if don't want to do this, you will be dead<br>
        as fast as our BIG BOSS DIMA find you!</p>
    </div>
</div>