<div class="autho">
    <div>
        <h1>Вход в личный кабинет</h1>
            <form method="POST">
                Логин: &nbsp;<input type="text" name="login" value="" /><br />
                Пароль: <input type="text" name="pass" value="" /><br />
                <input type="submit" value="Вход" />
            </form>
    </div>
</div>