<?php include_once "../models/connect.php";
for ($j = 0; $j < $list['counter']; $j++){
?>

<table >
    <tr>
        <td rowspan="3"><img src="<?php echo $list[$j]['image']; ?>"/></td>
    <tr>
        <td class="name"><?php echo $list[$j]['name']; ?></td>
    </tr>
    <tr>
        <td class="class1"><?php echo $list[$j]['description']; echo "</br>";
            echo "Цена: ".$list[$j]['price']. "₴"; ?></td>
    </tr>
    <tr>
        <td colspan="5" class="price">
            <button>Make an order</button>
        </td>
    </tr>
</table>
<?php } ?>