<div id="main">
    <h1>Welcome to the main page of our shop! </h1>
    <p>If you want to change page just use a navigate menu under the logo.<br>
        On this website you can find a lot of interesting items for a very<br>
        spicy prices. What is more, every weekend you can win a car on our<br>
        website or even a one million dollars! Don't lose you chanche to<br>
        become a millioner!</p>
</div>